.homepage-conatiner {
    background-color: #f8f8fb;
    width: 100%;
    min-height: 100vh;
    padding: 0 40px;

    .conatiner {
        width: 100%;
        margin: 24px auto;
        max-width: 1200px;
        box-shadow: 0 0 40px -10px rgba(#141322, 0.2);

        .content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px;

            .download-data {
                display: flex;
                padding: 0 24px;
                justify-content: space-between;
            }
            
            .btn {
                display: flex;
                gap: 8px;
                border-radius: 6px;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
